<%= form_tag sessions_path do %>
<p id="notice"><%= notice %></p>
   <table>
   <tr>
       <td><%= label_tag :name %></td>
	   <td><%= text_field_tag :name %></td>
   </tr>
   <tr>
       <td><%= label_tag :password %></td>
	   <td><%= password_field_tag :password %></td>
   </tr>
   <tr>
       <td><%= submit_tag("Sign In", :class => "button" ) %></td>


   </tr>
   </table>
<% end %>   
