<h1>Search Results</h1>

<head>
<title>Eventsapp</title>
  <%= stylesheet_link_tag    "searchresults", :media => "all" %>
</head>

<table id="searchtable" align="center">
  <tr>
    <th>Image</th>
	<th>Act Name</th>
    <th>Location</th>
    <th>Start date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Capacity</th>
  </tr>

<% @concerts.each do |concert| %>
  <tr>
    <td> <%= link_to(image_tag(concert.image, :size => "50x50"), concert) %></td>
    <td><%= concert.act_name %></td>
    <td><%= concert.location %></td>
    <td><%= concert.start_date %></td>
    <td><%= concert.start_time %></td>
    <td><%= concert.end_time %></td>
    <td><%= concert.capacity %></td>
    <td><%= link_to('Details', concert, :class => "button") %></td>
  </tr>
<% end %>
</table>

<br/>

