<!DOCTYPE html>
<html>
<head>
  <title>Eventsapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="banner" >
  <table>
       <tr>
          <td><%= link_to(image_tag("tickets.jpg", :size => "70x70"), root_path) %></td>
		  <td>
		      <% if !signed_in?%>
			      <%= link_to "Sign In", signin_path %>
				  <%= link_to "Register", new_user_path %>
			  <% else %>
			    <p>Welcome, </p><%= @current_user.name %>
				<td><%= link_to "Sign Out", signout_path %></td>
				<td><%= link_to "My Bookings", new_booking_path %></td>
              <% end %>      			  
		  </td>
		  <td><%= link_to "Concerts", concerts_path%><td>
		  <td>
		      <div id="search">
		      <%= render :partial => 'concerts/search' %> 
		      </div>
		  </td>
	    </tr>
    </table>
</div>
<%@page_title || "EvenTech" %>

<%= yield %>


</body>
</html>
